* {
    font-family: 'Gowun Dodum', sans-serif;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    font-weight: bold;
}

.wrap {
    width: 800px;
    margin: 0 auto;
}

.title {
    text-align: center;

    margin-top: 20px;
    margin-bottom: 50px;
}

.no-data {
    text-align: center;
}

.order-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vertical-align {
    margin: auto;
}

.cancel-button {
    text-align: right;
}

.thumbnail {
    display: block;
    margin: 5px auto;
    height: 150px;
    alignment: center;
}

.order-info {
    display: block;
    margin: auto;
}

.category {
    margin-bottom: 5px;
}

.total-price {
    text-align: right;
    font-size: 20px;
}

.form-wrap {
    width: 600px;
    margin: auto;
}

.amount-input {
    margin-bottom: 16px;
}

.submit-button {
    width: 100%;
}