<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/user.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
</head>
<body>
<div id="login-form">
  <img class="logo" th:src="@{/images/mucosa.png}" alt="mucosa">

  <div>
    <div class="login-id-label">이메일</div>
    <input type="text" name="email" id="email" class="login-input-box">

    <div class="login-id-label">비밀번호</div>
    <input type="password" name="password" id="password" class="login-input-box">

    <button id="login-id-submit" class="btn btn-dark" onclick="onLogin()" type="button" >로그인</button>
    <hr>
    <p class="text" th:text="'아직 회원이 아니라면?'"></p>
    <button id="login-id-btn" onclick="location.href='/signup'">회원 가입</button>
  </div>

  <div id="login-failed" style="display:none" class="alert alert-danger" role="alert">로그인에 실패하였습니다.</div>
</div>
</body>
<script>
  const href = location.href;
  const queryString = href.substring(href.indexOf("?")+1)
  if (queryString === 'error') {
    const errorDiv = document.getElementById('login-failed');
    errorDiv.style.display = 'block';
  }

  function onLogin() {
    $.ajax({
      type: "POST",
      url: `/signin`,
      contentType: "application/json",
      data: JSON.stringify({
        email: $('#email').val(),
        password: $('#password').val()
      }),
      success: function (response, textStatus, request) {

        const jwtToken = request.getResponseHeader("Authorization");

        if (jwtToken) {
          $.cookie("token", jwtToken);
          $.ajaxSetup({
            headers:{
              "Authorization": jwtToken
            }
          });
          activateAlarm();
          window.location.href = '/';
        } else {
          window.location.href = '/login?error';
        }
      }
    })
  }

  var webworker;

  function activateAlarm() {

    if(typeof(Worker) !== "undefined") {

      if(typeof(webworker) == "undefined") { webworker = new Worker("js/alarm.js"); }

    }

  }

  function deactivateAlarm() {

    webworker.terminate();

    webworker = undefined;

  }
</script>
</html>