<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/user.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
</head>
<body>
<div id="login-form">
  <div id="login-title"></div>
  <button id="login-id-btn" onclick="location.href='/signup'">
    회원 가입하기
  </button>
  <div>
    <div class="login-id-label">이메일</div>
    <input type="text" name="email" id="email" class="login-input-box">

    <div class="login-id-label">비밀번호</div>
    <input type="password" name="password" id="password" class="login-input-box">

    <button id="login-id-submit" onclick="onLogin()">로그인</button>
  </div>
  <div id="login-failed" style="display:none" class="alert alert-danger" role="alert">로그인에 실패하였습니다.</div>
</div>
</body>
<script>
  const href = location.href;
  const queryString = href.substring(href.indexOf("?")+1)
  if (queryString === 'error') {
    const errorDiv = document.getElementById('login-failed');
    errorDiv.style.display = 'block';
  }

  function onLogin() {
    $.ajax({
      type: "POST",
      url: `/signin`,
      contentType: "application/json",
      data: JSON.stringify({
        email: $('#email').val(),
        password: $('#password').val()
      }),
      // 요청은 단발성이라서 해더에 정보가 남아 있지 않다.
      // http 통신은 단 방향성이라서 값이 header 값이 남지 않는다.
      // 전에 사용가능했던 이유는 header 에 값을 react 가 저장해서 넣어줬다.
      // 즉 통신하고 나서 사라진다.
      // => Cookie 를 통해서 jwt 를 가져와서 구현
      // 1. 요청이 오면 쿠키에서 jwt 를 꺼내기
      // 2. 해당 쿠키가 만료 되었는 지 체크
      // 3. 해당 쿠기를 통해서 인증이 되는지
      success: function (response, textStatus, request) {
        console.log("here")
        const jwtToken = request.getResponseHeader("Authorization");

        if (jwtToken) {
          $.cookie("token", jwtToken);
          $.ajaxSetup({
            headers:{
              "Authorization": jwtToken
            }
          });
          window.location.href = '/';
        } else {
          window.location.href = '/login?error';
        }
      }
    })
  }
</script>
</html>