<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <!--    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>-->
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/product_detail.css" rel="stylesheet"/>
    <link href="/css/custom_product_detail.css" rel="stylesheet"/>
</head>

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MUCOSA</a>
    </div>
    <th:block th:if="${email != null}">
        <button type="button" class="btn btn-dark position-relative" id="alarm-button">
            알림 🔔
        </span>
        </button>
        <button th:if="${admin} == true" onclick="location.href='/users/restock'" type="button" class="btn btn-dark">
            마이페이지 🙋
        </button>
        <button th:unless="${admin} == true" onclick="location.href='/users/orders'" type="button" class="btn btn-dark">
            마이페이지 🙋
        </button>
        <button onclick="logout()" type="button" class="btn btn-dark">
            로그아웃 💨
        </button>
    </th:block>
    <th:block th:unless="${email != null}">
        <button type="button" class="btn btn-dark" onclick="location.href='/login' ">로그인 ⌨️</button>
    </th:block>
</nav>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" th:src="${product.thumbnail}"
                     alt="상품 이미지"/></div>
            <div class="col-md-6">
                <div class="d-flex" th:if="${product.amount != 0}">
                    <div>
                        <span class="name text-muted" th:text="${product.brandName}"></span>
                        <h4 class="brand name" th:text="${product.name}"></h4>
                        <div class="container">
                            <div class="row">
                                <div class="col brand" th:text="|가격 ${product.price}|"></div>
                                <div class="col brand" th:text="|수량 ${product.amount}|"></div>

                                <!-- Force next columns to break to new line at md breakpoint and up -->
                                <div class="w-100 d-none d-md-block"></div>

                                <div class="col brand brand_last" th:text="|리뷰 수 ${product.reviewNum}|"></div>
                                <div class="col brand brand_last" th:text="|리뷰 평점 ${product.reviewAvg}|"></div>

                                <div class="w-100 d-none d-md-block"></div>

                                <input type="number" id="orderAmount" name="orderAmount" class="form-control order_amount"
                                       placeholder="주문 수량"></div>
                        </div>
                        <button class="btn btn-outline-dark flex-shrink-0 order" type="button"
                                th:onclick="|sendOrder(${product.product_id})|">
                            <i class="bi-cart-fill me-1 btn-lg"></i>주문 하기

                        </button>
                    </div>
                </div>
                <div class="d-flex" th:if="${product.amount == 0}">
                    <div>
                        <span class="name" th:text="${product.brandName}"></span>
                        <h4 class="brand name" th:text="${product.name}"></h4>
                        <div class="container">
                            <div class="row">
                                <div class="col-6 col-sm-4 brand" th:text="|가격 ${product.price}|"></div>
                                <div class="col-6 col-sm-4 brand" th:text="|수량 ${product.amount}|"></div>

                                <!-- Force next columns to break to new line at md breakpoint and up -->
                                <div class="w-100 d-none d-md-block"></div>

                                <div class="col-6 col-sm-4 brand brand_last" th:text="|리뷰 수 ${product.reviewNum}|"></div>
                                <div class="col-6 col-sm-4 brand brand_last" th:text="|리뷰 평점 ${product.reviewAvg}|"></div>
                                <input type="text" name="orderAmount" class="form-control order_amount" disabled placeholder="품절">
                            </div>
                        </div>
                        <button th:if="${email} == null" class="btn btn-outline-dark flex-shrink-0 order toggle" type="button">
                            재입고 알람 신청
                        </button>
                        <button th:if="${email} != null" class="btn btn-outline-dark flex-shrink-0 order toggle" type="button"
                                th:onclick="|toggling(${product.product_id})|">
                            재입고 알람 신청
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!--ajax	-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<!-- Core theme JS-->
<script src="/js/product.js"></script>
<script src="/js/index.js"></script>
<script th:inline="javascript">
    const toggle_button = document.querySelector(".toggle");
    let checking = [[ ${product.alert}]];

    //유저 email 와 check_productId 를 조합해서 로직을 변경
    $(document).ready(startChecking);

    function startChecking() {
        // 값을 탐색한다.
        if (!checking) {
            // 클래스를 바꾸기 위해서 추가한다.
            toggle_button.classList.add('cancelNotification');
            // 바꾼 클래스에 맞는 text 를 출력한다.
            toggle_button.innerText = "재입고 알람 신청 취소";
        }
    };

    function sendOrder(order_product_id) {
        let orderAmount = $('#orderAmount').val();
        console.log(orderAmount)
        if (orderAmount > 0) {
            $.ajax({
                type: "POST",
                url: `/products/${order_product_id}`,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    orderAmount: orderAmount
                }),
                success: function (data) {
                    alert(data.message)
                    window.location.reload();
                },
                error: function (error) {
                    alert(error.responseJSON.message);
                    console.log(error.responseJSON.message);
                    window.location.reload();
                }
            });
        } else {
            alert("주문 수량을 확인해 주세요");
            window.location.reload();
        }

    }

    function sendNotification(productId) {
        $.ajax({
            type: "POST",
            url: "/api/notification",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: JSON.stringify({
                productId: productId
            }),
            success: function (data) {
                alert(data.message)
                window.location.reload();
            },
            error: function (error) {
                alert(error.responseJSON.message);
                console.log(error.responseJSON.message);
                window.location.reload();
            }
        });

    }

    function removeNotification(productId) {
        $.ajax({
            type: "DELETE",
            url: "/api/notification",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            data: JSON.stringify({
                productId: productId
            }),
            success: function (data) {
                alert(data.message);
                window.location.reload();
            },
            error: function (error) {
                alert(error.responseJSON.message);
                console.log(error.responseJSON.message);
                window.location.reload();
            }
        });
    }

    function toggling(productId) {
        console.log(toggle_button);
        // 이친구가 boolean 값을 찾는 거다.
        if (toggle_button.classList.contains('cancelNotification')) {
            // 클래스를 바꾸기 위해서 삭제한다.
            toggle_button.classList.remove('cancelNotification');
            // 바꾼 클래스에 맞는 text 를 출력한다.
            toggle_button.innerText = "재입고 알람 신청";
            // 실제 함수 실행.
            removeNotification(productId);
        } else {
            // 클래스를 바꾸기 위해서 추가한다.
            toggle_button.classList.add('cancelNotification');
            // 바꾼 클래스에 맞는 text 를 출력한다.
            toggle_button.innerText = "재입고 알람 신청 취소";
            // 실제 함수 실행
            sendNotification(productId);
        }
    }
</script>
</body>
</html>